*{
    box-sizing: border-box;
    margin: 0;    
}

body{
    background-color: whitesmoke;
}

header{
    height: 70px;
    background-color: white;
}

header img{
    padding: 10px;
}

.header-title{
    display: inline-block;
}

main{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    border-radius: 2%;
}

.container{
    padding-left: 40px;
}


.add{
   margin-top: 10px;
   margin-bottom: 10px;
}

hr{
    border: 1px solid whitesmoke;
    width: 100%;
}